.env
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.log
*.pot
*.py[cod]
__pycache__/
*.so
*.h5
*.spec
.ipynb_checkpoints/
.idea/
.vscode/
*.swp
*.swo
*.orig
*~
.DS_Store
.env
venv/