body {
    font-family: 'Arial', sans-serif; /* Default font */
    background-color: #f0f0f0; /* Light background */
    color: #333; /* Dark text color */
}

.container {
    text-align: center;
    background: #fff; /* White background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00a7e1; /* Metlife blue */
    color: #fff; /* White text */
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

button:disabled {
    background-color: #ccc; /* Light gray for disabled state */
    cursor: not-allowed;
}

audio {
    margin-top: 20px;
}

h1 {
    font-family: 'Arial', sans-serif;
    color: #00a7e1; /* Metlife blue */
    font-size: 24px;
    margin-bottom: 20px;
}
