<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Time Call Processing</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="container">
        <h1>Customer and Agent Interaction</h1>
        <button id="start">Initiate Call</button>
        <!--button id="stop" disabled>Stop Recording</button-->
        <audio id="audioPlayback" controls></audio>

    </div>
    <script src="/static/js/script.js"></script>
</body>

</html>